<p id="notice"><%= notice %></p>

<p>
  <strong>Avatar:</strong>
  <%= @api_v1_parent.avatar %>
</p>

<p>
  <strong>Name:</strong>
  <%= @api_v1_parent.name %>
</p>

<p>
  <strong>Account:</strong>
  <%= @api_v1_parent.account %>
</p>

<p>
  <strong>Password:</strong>
  <%= @api_v1_parent.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @api_v1_parent.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @api_v1_parent.description %>
</p>

<p>
  <strong>Course id list:</strong>
  <%= @api_v1_parent.course_id_list %>
</p>

<p>
  <strong>Children id list:</strong>
  <%= @api_v1_parent.children_id_list %>
</p>

<p>
  <strong>Loading info:</strong>
  <%= @api_v1_parent.loading_info %>
</p>

<%= link_to 'Edit', edit_api_v1_parent_path(@api_v1_parent) %> |
<%= link_to 'Back', api_v1_parents_path %>
