<%= form_for(api_v1_category) do |f| %>
  <% if api_v1_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(api_v1_category.errors.count, "error") %> prohibited this api_v1_category from being saved:</h2>

      <ul>
      <% api_v1_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :avatar %>
    <%= f.text_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :course_count %>
    <%= f.number_field :course_count %>
  </div>

  <div class="field">
    <%= f.label :master_id %>
    <%= f.number_field :master_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
