<p id="notice"><%= notice %></p>

<h1>Api V1 Categories</h1>

<table>
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Name</th>
      <th>Description</th>
      <th>Course count</th>
      <th>Master</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_v1_categories.each do |api_v1_category| %>
      <tr>
        <td><%= api_v1_category.avatar %></td>
        <td><%= api_v1_category.name %></td>
        <td><%= api_v1_category.description %></td>
        <td><%= api_v1_category.course_count %></td>
        <td><%= api_v1_category.master_id %></td>
        <td><%= link_to 'Show', api_v1_category %></td>
        <td><%= link_to 'Edit', edit_api_v1_category_path(api_v1_category) %></td>
        <td><%= link_to 'Destroy', api_v1_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Api V1 Category', new_api_v1_category_path %>
