<p id="notice"><%= notice %></p>

<h1>Api V1 Admin Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_v1_admin_types.each do |api_v1_admin_type| %>
      <tr>
        <td><%= api_v1_admin_type.name %></td>
        <td><%= link_to 'Show', api_v1_admin_type %></td>
        <td><%= link_to 'Edit', edit_api_v1_admin_type_path(api_v1_admin_type) %></td>
        <td><%= link_to 'Destroy', api_v1_admin_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Api V1 Admin Type', new_api_v1_admin_type_path %>
