<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @student.avatar %>
</p>

<p>
  <strong>Account:</strong>
  <%= @student.account %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @student.description %>
</p>

<p>
  <strong>Course id list:</strong>
  <%= @student.course_id_list %>
</p>

<p>
  <strong>Course progress:</strong>
  <%= @student.course_progress %>
</p>

<p>
  <strong>Loading info:</strong>
  <%= @student.loading_info %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
