<p id="notice"><%= notice %></p>

<p>
  <strong>Avatar:</strong>
  <%= @api_v1_school.avatar %>
</p>

<p>
  <strong>Name:</strong>
  <%= @api_v1_school.name %>
</p>

<p>
  <strong>Account:</strong>
  <%= @api_v1_school.account %>
</p>

<p>
  <strong>Password:</strong>
  <%= @api_v1_school.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @api_v1_school.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @api_v1_school.description %>
</p>

<p>
  <strong>Student id list:</strong>
  <%= @api_v1_school.student_id_list %>
</p>

<p>
  <strong>Teacher id list:</strong>
  <%= @api_v1_school.teacher_id_list %>
</p>

<p>
  <strong>Teacher count:</strong>
  <%= @api_v1_school.teacher_count %>
</p>

<p>
  <strong>Student count:</strong>
  <%= @api_v1_school.student_count %>
</p>

<p>
  <strong>Loading info:</strong>
  <%= @api_v1_school.loading_info %>
</p>

<%= link_to 'Edit', edit_api_v1_school_path(@api_v1_school) %> |
<%= link_to 'Back', api_v1_schools_path %>
