<%= form_for(api_v1_admin) do |f| %>
  <% if api_v1_admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(api_v1_admin.errors.count, "error") %> prohibited this api_v1_admin from being saved:</h2>

      <ul>
      <% api_v1_admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account %>
    <%= f.text_field :account %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <div class="field">
    <%= f.label :admin_type_id %>
    <%= f.number_field :admin_type_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
