<p id="notice"><%= notice %></p>

<h1>Api Vi Courses</h1>

<table>
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Video url</th>
      <th>Fans count</th>
      <th>Uploader</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_vi_courses.each do |api_vi_course| %>
      <tr>
        <td><%= api_vi_course.avatar %></td>
        <td><%= api_vi_course.name %></td>
        <td><%= api_vi_course.description %></td>
        <td><%= api_vi_course.category %></td>
        <td><%= api_vi_course.video_url %></td>
        <td><%= api_vi_course.fans_count %></td>
        <td><%= api_vi_course.uploader_id %></td>
        <td><%= link_to 'Show', api_vi_course %></td>
        <td><%= link_to 'Edit', edit_api_vi_course_path(api_vi_course) %></td>
        <td><%= link_to 'Destroy', api_vi_course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Api Vi Course', new_api_vi_course_path %>
