<p id="notice"><%= notice %></p>

<p>
  <strong>Avatar:</strong>
  <%= @parent.avatar %>
</p>

<p>
  <strong>Name:</strong>
  <%= @parent.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @parent.description %>
</p>

<p>
  <strong>Account:</strong>
  <%= @parent.account %>
</p>

<p>
  <strong>Password:</strong>
  <%= @parent.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @parent.email %>
</p>

<p>
  <strong>Children id list:</strong>
  <%= @parent.children_id_list %>
</p>

<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
