<%= form_for(api_v1_teacher) do |f| %>
  <% if api_v1_teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(api_v1_teacher.errors.count, "error") %> prohibited this api_v1_teacher from being saved:</h2>

      <ul>
      <% api_v1_teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :avatar %>
    <%= f.text_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :account %>
    <%= f.text_field :account %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :school_id %>
    <%= f.number_field :school_id %>
  </div>

  <div class="field">
    <%= f.label :student_id_list %>
    <%= f.text_field :student_id_list %>
  </div>

  <div class="field">
    <%= f.label :course_id_list %>
    <%= f.text_field :course_id_list %>
  </div>

  <div class="field">
    <%= f.label :upload_course_id_list %>
    <%= f.text_field :upload_course_id_list %>
  </div>

  <div class="field">
    <%= f.label :loading_info %>
    <%= f.text_field :loading_info %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
