<%= form_for(api_v1_course) do |f| %>
  <% if api_v1_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(api_v1_course.errors.count, "error") %> prohibited this api_v1_course from being saved:</h2>

      <ul>
      <% api_v1_course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :avatar_url %>
    <%= f.text_field :avatar_url %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <%= f.number_field :category_id %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :instruction %>
    <%= f.text_area :instruction %>
  </div>

  <div class="field">
    <%= f.label :vedio_url %>
    <%= f.text_field :vedio_url %>
  </div>

  <div class="field">
    <%= f.label :vedio_avatar_url %>
    <%= f.text_field :vedio_avatar_url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
